
@{
    ViewBag.Title = "VehicleDetails";
}

<h2>VehicleDetails</h2>
<div class="container">
    <div id="detailsView">

    </div>
</div>
@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Details.js"></script>
}