
@{
    ViewBag.Title = "PurchaseVehicle";
}

<h2>Purchase Vehicle</h2>
<div class="container" id="purchaseDetailsView">

</div>
<h2>Sales Information</h2>
<div class="container form-group">
    <div class="row">
        <div class="col-lg-3">
            <label>Name</label>
            <input class="form-control" type="text" id="PurchaseVehicleName" />
            <label>Email</label>
            <input class="form-control" type="text" id="PurchaseVehicleEmail" />
            <label>Street 1</label>
            <input class="form-control" type="text" id="PurchaseVehicleStreet1" />
            <label>City</label>
            <input class="form-control" type="text" id="PurchaseVehicleCity" />
            <label>Zipcode</label>
            <input class="form-control" type="text" id="PurchaseVehicleZipcode" />
        </div>
        <div class="col-lg-3">
            <label>Phone</label>
            <input class="form-control" type="text" id="PurchaseVehiclePhone" /><br /><br /><br />
            <label>Street 2</label>
            <input class="form-control" type="text" id="PurchaseVehicleStreet2" />
            <label>State</label>
            <select class="form-control" id="PurchaseVehicleState">
                <option value="AK">AK</option>
                <option value="AL">AL</option>
                <option value="AR">AR</option>
                <option value="AZ">AZ</option>
                <option value="CA">CA</option>
                <option value="CO">CO</option>
                <option value="CT">CT</option>
                <option value="DC">DC</option>
                <option value="DE">DE</option>
                <option value="FL">FL</option>
                <option value="GA">GA</option>
                <option value="HI">HI</option>
                <option value="IA">IA</option>
                <option value="ID">ID</option>
                <option value="IL">IL</option>
                <option value="IN">IN</option>
                <option value="KS">KS</option>
                <option value="KY">KY</option>
                <option value="LA">LA</option>
                <option value="MA">MA</option>
                <option value="MD">MD</option>
                <option value="ME">ME</option>
                <option value="MI">MI</option>
                <option value="MN">MN</option>
                <option value="MO">MO</option>
                <option value="MS">MS</option>
                <option value="MT">MT</option>
                <option value="NC">NC</option>
                <option value="ND">ND</option>
                <option value="NE">NE</option>
                <option value="NH">NH</option>
                <option value="NJ">NJ</option>
                <option value="NM">NM</option>
                <option value="NV">NV</option>
                <option value="NY">NY</option>
                <option value="OH">OH</option>
                <option value="OK">OK</option>
                <option value="OR">OR</option>
                <option value="PA">PA</option>
                <option value="RI">RI</option>
                <option value="SC">SC</option>
                <option value="SD">SD</option>
                <option value="TN">TN</option>
                <option value="TX">TX</option>
                <option value="UT">UT</option>
                <option value="VA">VA</option>
                <option value="VT">VT</option>
                <option value="WA">WA</option>
                <option value="WI">WI</option>
                <option value="WV">WV</option>
                <option value="WY">WY</option>
            </select>
        </div>
    </div><hr />
    <div class="row">
        <div class="col-lg-3">
            <label>Purchase Price</label>
            <input class="form-control" type="text" id="PurchaseVehiclePrice" /><br />
            <button class="form-control btn btn-primary" style="width:80px" id="PurchaseButton">Save</button>
        </div>
        <div>
            <label>Purchase Type</label>
            <select class="form-control" id="PurchaseVehicleType">
                <option value="BankFinance">Bank Finance</option>
                <option value="Cash">Cash</option>
                <option value="DealerFinance">Dealer Finance</option>
            </select>
        </div>
        <div>
            <label>User</label>
            <input type="text" id="SalesUser" class="form-control"/>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Purchase.js"></script>
}