
@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>
<div class="container">
    <div class="form-group">
        <div class="row">
            <div class="col-lg-3">
                <label>First Name</label>
                <input type="text" class="form-control" />
                <label>Email</label>
                <input type="text" class="form-control" />
                <label>Password</label>
                <input type="text" class="form-control" /><br />
                <button class="btn btn-primary class=" form-control"">Save</button>
            </div>
            <div class="col-lg-3">
                <label>Last Name</label>
                <input type="text" class="form-control" />
                <label>Role</label>
                <select class="form-control">
                    <option value="">--Select Role--</option>
                    <option value="Admin">Admin</option>
                    <option value="Admin">Sales</option>
                    <option value="Admin">Disabled</option>
                </select>
                <label>Confirm Password</label>
                <input type="text" class="form-control" />
            </div>
        </div>
    </div>
</div>