
@{
    ViewBag.Title = "Models";
}

<h2>Makes</h2>
<div class="container">
    <div class="row form-group" display="inline">
        <div class="col-lg-offset-1 col-lg-10 well form-inline">
            <label>New make</label>
            <select class="form-control" id="AddNewMake" onchange="getModels(this.value)">
                <option>--Select Make--</option>
            </select>
            <label>New Model</label>
            <input type="text" class="form-control" id="NewModelName"/>
            <label>User</label>
            <input type="text" class="form-control" id="UserNewModel" />
            <button class="btn btn-primary form-control" style="width:20%" id="NewModelButton">Save</button>
        </div>
    </div><br />
    <table class="table">
        <thead>
            <tr>
                <th>Make</th>
                <th>Model</th>
                <th>Date Added</th>
                <th>User</th>
            </tr>
        </thead>
        <tbody id="ModelsTable"></tbody>
    </table>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="~/Scripts/Models.js"></script>
}
